[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Unlock clients
Name[en]=Unlock clients
Name[es]=Desbloquear clientes
Name[ca_ES]=Unlock clients
Name[ca_ES.UTF-8@valencia]=Unlock clients
Name[ca_ES@valencia]=Unlock clients
Name[ca]=Unlock clients
Exec=/usr/share/lliurex-classroom-actions/epoptes/epoptes-manager unlock_screen
Terminal=false
Icon=epoptes
Type=Application
NoDisplay=false
