[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Lock clients
Name[en]=Lock clients
Name[es]=Bloquear clientes
Name[ca_ES]=Lock clients
Name[ca_ES.UTF-8@valencia]=Lock clients
Name[ca_ES@valencia]=Lock clients
Name[ca]=Lock clients
Exec=/usr/share/lliurex-classroom-actions/epoptes/epoptes-manager lock_screen
Terminal=false
Icon=epoptes
Type=Application
NoDisplay=false
