[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Close session on clients
Name[en]=Close session on clients
Name[es]=Cerrar sesión en clientes
Name[ca_ES]=Close session on clients
Name[ca_ES.UTF-8@valencia]=Close session on clients
Name[ca_ES@valencia]=Close session on clients
Name[ca]=Close session on clients
Exec=/usr/share/lliurex-classroom-actions/epoptes/epoptes-manager logout
Terminal=false
Icon=epoptes
Type=Application
NoDisplay=false
