[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Reboot clients
Name[en]=Reboot clients
Name[es]=Reiniciar clientes
Name[ca_ES]=Reboot clients
Name[ca_ES.UTF-8@valencia]=Reboot clients
Name[ca_ES@valencia]=Reboot clients
Name[ca]=Reboot clients
Exec=/usr/share/lliurex-classroom-actions/epoptes/epoptes-manager reboot
Terminal=false
Icon=epoptes
Type=Application
NoDisplay=false
